:root {
  --main-color: rgba(239, 155, 40, 1);
  --second-color: #0e382f;
}

.auth-container {
  background: #315951e5;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.form-title {
  position: relative;
  margin-bottom: 40px;
}

.form-title::after {
  content: "";
  width: 16px;
  height: 4px;
  background-color: rgba(239, 155, 40, 1);
  position: absolute;
  bottom: -3px;
  left: 2px;
}

.custom-input {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  color: white !important;
  box-shadow: none !important;
  padding: 0.5rem 0 !important;
  font-size: 1rem;
}

.custom-input::placeholder {
  color: #ccc !important;
  opacity: 1;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  display: block;
  cursor: pointer;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}
.form-title {
  font-size: 1.75rem;
}

input::placeholder {
  color: rgb(255, 255, 255) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.second-color {
  color: var(--second-color);
}

.bg-main-color {
  background-color: var(--main-color) !important;
}

input:hover,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
  border: none;
}

.register-container {
  padding: 20px 100px;
}

.padding-register {
  padding-left: 6rem;
  padding-top: 2rem;
}

.Navbar-shadow {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  height: 56px;
}

.sidebar-cont .ps-sidebar-container {
  background-color: var(--second-color);
  height: 100vh;
}

.arrow-sideBar {
  background-color: var(--main-color);
}

.sidebar-cont .ps-menu-button:hover {
  color: var(--main-color);
  background-color: transparent !important;
}
.sidebar-cont .sidebar-logo a:hover {
  background-color: transparent !important ;
  border-left: none;
}

.active-sidebar-item {
  color: var(--main-color);
  background-color: transparent !important;
  font-weight: bold;
}
